.olib__container {
  /* background-image: -webkit-linear-gradient(#d1a46b, #b57744); */
  background-color: #b57744;
  flex: 1;
}

.olib__book {
  width: 30%;
  margin: 0 1.666% 1.666% 1.666%;
  min-width: 300px;
}

.olib__book .card-header.card-header-left {
  background-color: #333;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
